.show {
  height: 100%;
  background-color: #bbedf1;
  font-size: 4.5rem;

  > div:not(.show__resop) {
    border-bottom: 1px solid #000;
  }

  div:not(.show__resop) {
    padding: 0.2em 0.5em;
  }

  .show__num1 {
    background-color: #bbedf1;
    font-family: sans-serif;
    width: 100%;
  }
  .show__num2 {
    background-color: #bbedf1;
    font-family: sans-serif;
    width: 100%;
  }
  .show__resop {
    background-color: #bbedf1;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    &__operator {
      width: 80%;
      flex: 1;
    }

    &__result {
      width: 20%;
      text-align: center;
      border-left: 1px solid #000;
    }
  }
}
