.show {
  height: 100%;
  background-color: #bbedf1;
  font-size: 4.5rem;

  > div:not(.show__resop) {
    border-bottom: 1px solid #000;
  }

  :is(div:not(.show__resop), input) {
    padding: 0.2em 0.5em;
  }

  input {
    cursor: pointer;
    caret-color: #bbedf1;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: #bbedf1;
    font-family: sans-serif;
    width: 100%;
    font-size: 4.5rem;

    &.select {
      animation: color_switch 1s infinite alternate;
    }
  }

  input[type='number']::-webkit-inner-spin-button {
    appearance: none;
  }

  .show__resop {
    background-color: #bbedf1;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    &__operator {
      width: 80%;
      flex: 1;
    }

    &__result {
      width: 20%;
      text-align: center;
      border-left: 1px solid #000;
    }
  }
}

@keyframes color_switch {
  from {
    color: transparent;
  }

  to {
    color: #000;
  }
}
